 @import "bootstrap";

 a {
   text-decoration: none;
 }

 li {
   list-style: none;
 }

 main {
   width: 80%;
   margin: 20px auto;
 }

 //  bootstrapでなぜか反映されないクラスやオリジナルクラスを記述
 .sr-only {
   border: 0;
   clip: rect(0, 0, 0, 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
 }

 .form-inline {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-flow: row wrap;
   -ms-flex-align: center;
   align-items: center;
 }

 .nav-sub {
   width: 80%;
   margin: 0 auto;
   display: flex;
 }